# Dependencies
node_modules/

# Local databases & WAL files (do not commit local runtime db)
*.db-wal
*.db-shm

# Environment Variables
.env
.dev.vars

# Debug logs
npm-debug.log*

# Build artifacts
dist/
build/
